<nav class="col-md-auto d-none d-md-block bg-light sidebar" style="font-size: 1.2em;">

  <div class="sidebar-sticky pl-3 pr-4 mt-2">

    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link {% if active_page == 'dashboard' %} active {% endif %}" href="/">
          <span data-feather="home"></span>
          My File
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if active_page == 'analytics' %} active {% endif %}" href="analytics">
          <span data-feather="users"></span>
          Analytics
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if active_page == 'pricing' %} active {% endif %}" href="pricing">
          <span data-feather="dollar-sign"></span>
          Pricing
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if active_page == 'scheduling' %} active {% endif %}" href="scheduling">
          <span data-feather="calendar"></span>
          Scheduling
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if active_page == 'options' %} active {% endif %}" href="options">
          <span data-feather="activity"></span>
          Options
        </a>
      </li>
      </ul>


  </div>
</nav>
