{% extends 'layout.html' %}

{% block title %} My File {% endblock %}
{% block header %} <h1>Hello, {{ patient.name }} </h1> {% endblock %}
{% set active_page = "dashboard" %}

{% block body %}

    <div class="row justify-content-center mt-4 mb-2">

	    <div class="col-sm-12">

        <div class="alert alert-warning text-center" role="alert">
          <b>Hey {{ patient.name }}, you have <i>3</i> action items.<br>Head over to <a href="/scheduling">scheduling</a> to check them out.</b>
        </div>

      </div>

    </div>

    <h4 class="py-3">My Upcoming Visits</h4>

    {% for visit in patient.visits %}

    <div class="row justify-content-center p-3 mt-1 bg-light" style="font-size:1.2em;">
        <div class="col-6">
              <a class="text-body" href="/scheduling">
                  <b>{{ visit[0] }}</b>
              </a>
        </div>
        <div class="col-2">
            <span class="text-primary" data-feather="clock"></span>
            {{ visit[1] }}
        </div>
        <div class="col-2">
            <span data-feather="calendar"></span>
            <a href="{{ visit[2] }}">Add Reminder</a>
        </div>
        <div class="col-2">
            <span data-feather="map-pin"></span>
            <a href="{{ visit[3] }}">Maps</a>
        </div>

    </div>

    {% endfor %}


    <h4 class="py-3 pt-5">My Prescriptions</h4>


    {% for prescription in patient.prescriptions %}


    <div class="row justify-content-center p-3 mt-1 bg-light text-left" style="font-size:1.2em;">
        <div class="col-3">
              <a class="text-body" href="/scheduling">
                  <b>{{ prescription[0] }}</b>
              </a>
        </div>
        <div class="col-4">
            <span class="text-primary" data-feather="clock"></span>
            {{ prescription[1] }}
        </div>

        <div class="col-3">
          <span class="textprimary" data-feather="calendar"></span>
            <a href="{{ prescription[2] }}">Add Reminder</a>
        </div>
        <div class="col-2">
            <span data-feather="activity"></span>
            <a href="{{ prescription[2] }}">Refill</a>
        </div>
    </div>

    {% endfor %}


    <div class="row justify-content-end my-5">
      <div class="col-sm-10">


          <a href="static/carl_smith.pdf"><button type="submit" class="btn btn-success">Download My File PDF</button></a>
          <a href="static/carl_smith.json"><button type="submit" class="btn btn-success">Download JSON File</button></a>

          </div>
      </div>

{% endblock %}
