{% extends 'layout.html' %}

{% block title %} Pricing {% endblock %}
{% block header %}<h1>Pricing</h1>{% endblock %}
{% set active_page = "pricing" %}

{% block body %}

<div class="form-group">
<label for="exampleFormControlSelect1">Routine Appointment Type</label>
<select class="form-control" id="exampleFormControlSelect1">
  <option>Chemotherapy</option>
  <option>Dialysis</option>
  <option>Blood Iron Test</option>

</select>
</div>

<div class="row pt-5 justify-content-center">
  <a href="/static_estimate_price"><button type="button" class="btn btn-primary">Estimate</button></a>
</div>



{% endblock %}
