{% extends 'layout.html' %}

{% block title %} Pricing {% endblock %}
{% block header %}<h1>Pricing</h1>{% endblock %}
{% set active_page = "pricing" %}

{% block body %}

    <div class="row justify-content-center mt-4 mb-2">

	    <div class="col-sm-12">

        <div class="alert alert-warning text-center" role="alert">
          <b>You have some unpaid bills.</b>
        </div>

      </div>

    </div>

    <h4 class="py-3">Unpaid Bills</h4>

    {% for bill in patient.bills %}

    <div class="row justify-content-center p-3 mt-1 bg-light" style="font-size:1.2em;">
        <div class="col-6">
              <a class="text-body" href="/systems">
                  <b>{{ bill[0] }}</b>
              </a>
        </div>
        <div class="col-auto">
            <span class="text-primary" data-feather="map-pin"></span>
            {{ bill[1] }}
        </div>
        <div class="col-auto">
            <span class="text-primary" data-feather="calendar"></span>
            <a href="{{ bill[2] }}">Add Reminder</a>
        </div>
        <div class="col-auto">
            <span class="text-primary" data-feather="dollar-sign"></span>
            <a href="{{ bill[3] }}">Maps</a>
        </div>

    </div>

    {% endfor %}


    <h4 class="py-3 pt-5">Paid Bills</h4>


    {% for bill in patient.paid %}

    <div class="row justify-content-center p-3 mt-1 bg-light" style="font-size:1.2em;">
        <div class="col-6">
              <a class="text-body" href="/systems">
                  <b>{{ bill[0] }}</b>
              </a>
        </div>
        <div class="col-auto">
            <span class="text-primary" data-feather="map-pin"></span>
            {{ bill[1] }}
        </div>
        <div class="col-auto">
            <span class="text-primary" data-feather="calendar"></span>
            <a href="{{ bill[2] }}">Add Reminder</a>
        </div>
        <div class="col-auto">
            <span class="text-primary" data-feather="dollar-sign"></span>
            <a href="{{ bill[3] }}">Maps</a>
        </div>

    </div>

    {% endfor %}


{% endblock %}
