{% extends 'layout.html' %}

{% block title %} Public Key Repository {% endblock %}
{% block header %}<h1>Public Key Repository</h1> {% endblock %}
{% set active_page = "pubkey" %}

{% block body %}


<h4 class="py-2">Available Public Keys</h4>

<div class="row justify-content-center p-3 mt-1 bg-light" style="font-size:1.2em;">
    <div class="col-4">
          <a class="text-body" href="/systems">
              <b>Sanford Health</b>
          </a>
    </div>
    <div class="col-3">
          <a class="text-body" href="/#">
              <b>Org. Number:</b> 1111
          </a>
    </div>
    <div class="col-5">
        <span class="text-primary" data-feather="command"></span>
        <a href="/static/1111Key.pub">Download Public Key</a>
    </div>

</div>

    <div class="row justify-content-center p-3 mt-1" style="font-size:1.2em;">
        <div class="col-4">
              <a class="text-body" href="/#">
                  <b>John Hopkins</b>
              </a>
        </div>
        <div class="col-3">
              <a class="text-body" href="/#">
                  <b>Org. Number:</b> 8471
              </a>
        </div>

        <div class="col-5">
            <span class="text-primary" data-feather="command"></span>
            <a href="/static/8471Key.pub">Download Public Key</a>
        </div>

    </div>



{% endblock %}
