{% extends 'layout.html' %}

{% block title %} Pricing Estimate {% endblock %}
{% block header %}<h1>Pricing</h1>{% endblock %}
{% set active_page = "pricing" %}

{% block body %}

    <div class="row justify-content-center mt-4 mb-2">

	    <div class="col-sm-12">

        <div class="alert alert-success text-center" role="alert">
          <b>Billing Estimate for Dialysis</b>
        </div>



        <div class="jumbotron jumbotron-fluid">
            <div class="container p-5">
              <h1 class="display-4">Cost to you:<br> about $85 </h1>
              <p class="lead">Cost based on a routine appointment with no complications.</p>
            </div>
        </div>

            <h3>Cost Breakdown:</h3>
            <br>

        <div class="card-deck">

            <div class="card border-dark mb-3" style="max-width: 18rem;">
                <div class="card-header">Staff</div>
                <div class="card-body text-dark">
                    <p class="card-text">Most of the cost pays for the members of your care team.</p>
                </div>
            </div>

            <div class="card border-dark mb-3" style="max-width: 18rem;">
                <div class="card-header">Equipment</div>
                <div class="card-body text-dark">
                    <p class="card-text">Some of the cost comes from maintaining specialized equipment.</p>
                </div>
            </div>

            <div class="card border-dark mb-3" style="max-width: 18rem;">
                <div class="card-header">Overhead</div>
                <div class="card-body text-dark">
                    <p class="card-text">Some of the cost comes from maintaining the hospital facilities.</p>
                </div>
            </div>

        </div>




      </div>

    </div>





{% endblock %}
