{% extends 'layout.html' %}

{% block title %} Pricing Estimate {% endblock %}
{% block header %}<h1>Pricing</h1>{% endblock %}
{% set active_page = "pricing" %}

{% block body %}

    <div class="row justify-content-center mt-4 mb-2">

	    <div class="col-sm-12">

        <div class="alert alert-secondary text-center" role="alert">
          <b>Billing Estimate for Dialysis</b>
        </div>



        <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-4">Cost to you about $85 /h1>
              <p class="lead">Cost based on a routine appointment with complications.</p>
            </div>
        </div>





      </div>

    </div>





{% endblock %}
